<a href="https://colab.research.google.com/github/theclassofai/COVID_19/blob/master/COVID_Analysis_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/CSSEGISandData/COVID-19.git

Cloning into 'COVID-19'...
remote: Enumerating objects: 16, done.
remote: Counting objects: 100% (16/16), done.
remote: Compressing objects: 100% (14/14), done.
remote: Total 15903 (delta 3), reused 9 (delta 2), pack-reused 15887
Receiving objects: 100% (15903/15903), 61.70 MiB | 28.08 MiB/s, done.
Resolving deltas: 100% (7786/7786), done.

In [21]:
# Import packages to be used 
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import plotly.graph_objects as go
from fbprophet import Prophet
!pip install pycountry
import pycountry
import plotly.express as px
from collections import namedtuple

Collecting pycountry
  Downloading https://files.pythonhosted.org/packages/16/b6/154fe93072051d8ce7bf197690957b6d0ac9a21d51c9a1d05bd7c6fdb16f/pycountry-19.8.18.tar.gz (10.0MB)
     |████████████████████████████████| 10.0MB 7.7MB/s
Building wheels for collected packages: pycountry
  Building wheel for pycountry (setup.py) ... done
  Created wheel for pycountry: filename=pycountry-19.8.18-py2.py3-none-any.whl size=10627361 sha256=46e4409584466a5ca55b96514987ee2f7e722cf51b7cbfa4a747b82151d26afd
  Stored in directory: /root/.cache/pip/wheels/a2/98/bf/f0fa1c6bf8cf2cbdb750d583f84be51c2cd8272460b8b36bd3
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-19.8.18

In [0]:
# df = pd.read_csv('../input/novel-corona-virus-2019-dataset/covid_19_data.csv',parse_dates=['Last Update'])
# df.rename(columns={'ObservationDate':'Date', 'Country/Region':'Country'}, inplace=True)

df_confirmed = pd.read_csv("/content/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv")
df_recovered = pd.read_csv("/content/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv")
df_deaths = pd.read_csv("/content/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv")

df_confirmed.rename(columns={'Country/Region':'Country'}, inplace=True)
df_recovered.rename(columns={'Country/Region':'Country'}, inplace=True)
df_deaths.rename(columns={'Country/Region':'Country'}, inplace=True)

In [24]:
df_confirmed.head()

  Province/State    Country      Lat  ...  3/21/20  3/22/20  3/23/20
0            NaN   Thailand  15.0000  ...      411      599    599.0
1            NaN      Japan  36.0000  ...     1007     1086   1086.0
2            NaN  Singapore   1.2833  ...      432      455    455.0
3            NaN      Nepal  28.1667  ...        1        2      2.0
4            NaN   Malaysia   2.5000  ...     1183     1306   1306.0

[5 rows x 66 columns]